# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore .env files
/.env               # Ignora o .env na raiz do projeto
crud_api/secrets/.env   # Ignora o .env dentro de secrets no backend
crud_ui/secrets/ProtectedRoute.jsx   # Ignora o componentes 'ProtectedRoute.jsx'